.dialog {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0);
    background-color: rgba(0, 0, 0, .4);
}

.dialogContent {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 60%;
    overflow-y: scroll;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: Verdana;
    font-weight: 700;
    background-color: black;
    height: 20px;
    width: 20px;
    color: white;
    text-align: center;
    line-height: 16px;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
}